@import "../colors";
@import "../mixins";

.container > header {
  background: $color--branding-primary;
  color: $color--header-text;
  display: flex;
  min-height: 60px;
  padding: 0 1em;

  .logo {
    height: 50px;
    margin-right: 1em;

    img {
      height: 100%;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .menu {
      display: flex;

      .menu-item {
        height: 100%;
        padding: 0 1em;
        @include animate-property(background-color);

        a,
        .link {
          color: $color--header-text;
          cursor: pointer;
          height: 100%;
          text-decoration: none;
          @include align-vertical;

          .caret {
            margin-left: 0.5em;
          }

          .icon {
            margin-right: 1em;
          }
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
