/* stylelint-disable color-no-hex */

// branding
$color--branding-primary: #ee3124;

// charts
$color--chart-label: #767676;

// confirmations
$color--confirmation-background: rgba(0, 0, 0, .5);
$color--confirmation-button-text: #fff;
$color--confirmation-secondary: #999;
$color--confirmation-secondary-hover: darken($color--confirmation-secondary, 5%);

// navigation
$color--nav-text: #fff;
$color--nav-hover: rgba($color--nav-text, .2);
$color--nav-separator: rgba($color--nav-text, .4);
$color--nav-title: rgba($color--nav-text, .8);
$border--nav-separator: 1px solid #cecece;

// notifications
$color--notification-background: #fff;
$color--notification-bold: #808080;
$color--notification-blue: #4488f2;
$color--notification-close: #aaa;
$color--notification-green: #39b54a;
$color--notification-orange: #e59323;
$color--notification-red: #f65752;
$color--notification-shadow: rgba(0, 0, 0, .25);
$color--notification-text: #999;
$color--notification-title: #4d4d4d;

// spinner
$color--spinner-background: rgba(0, 0, 0, .7);
$color--spinner-close: #888;
$color--spinner-text: #fff;

// upload box
$color--upload-box: #b4b9be;
$color--upload-background: #fff;
